# Tree Classification

In [1]:
import os
import sys
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px

module_path = os.path.abspath(os.path.join(".."))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from utils.data_loader import DataLoader
from utils.calculate_indices import CalculateIndices
from utils.basic_analysis import BasicDataAnalysis
from utils.visualization_histogram import HistogramDataVisualization
from utils.time_series_aggregate import TimeSeriesAggregate
from utils.visualization_spectral import SpectralBandPlotter


from utils.data_loader import DataLoader
from utils.basic_analysis import BasicDataAnalysis

from utils.correlation_analysis import CorrelationAnalysis

from utils.time_series_aggregate import TimeSeriesAggregate


from utils.visualization_spectral import SpectralBandPlotter
from utils.visualization_histogram import HistogramDataVisualization
from utils.visualization_function import (
    plot_intervals_timestamps,
    plot_top_correlations,
    plot_autocorrelation
)

In [2]:
dataloader = DataLoader()
df_base = dataloader.load_transform("../../data/raw_trainset.csv")

## Basic Data Analysis

In [3]:
basicanalysis = BasicDataAnalysis(df_base)
basicanalysis.get_dtypes()

time                datetime64[ns]
id                           int64
disturbance_year             int64
doy                          int64
b2                           int64
b3                           int64
b4                           int64
b5                           int64
b6                           int64
b7                           int64
b8                           int64
b8a                          int64
b11                          int64
b12                          int64
species                     object
dtype: object

In [4]:
print(f"Raw Dataset cols:{basicanalysis.get_num_cols()}")
print(f"Raw Dataset rows:{basicanalysis.get_num_rows()}")

Raw Dataset cols:15
Raw Dataset rows:4074354

In [5]:
basicanalysis.get_desricption()

,time,id,disturbance_year,doy,b2,b3,b4,b5,b6,b7,b8,b8a,b11,b12
count,4074354,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06,4.074354e+06
mean,2020-02-05 05:16:36.360551936,1.408675e+04,2.522988e+02,1.763385e+02,2.726073e+02,4.309495e+02,3.465769e+02,6.764691e+02,1.683092e+03,2.040237e+03,2.166979e+03,2.290828e+03,1.158527e+03,6.015298e+02
min,2017-01-01 00:00:00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,2018-09-24 00:00:00,7.038000e+03,0.000000e+00,1.060000e+02,1.560000e+02,2.810000e+02,1.750000e+02,4.600000e+02,1.268000e+03,1.529000e+03,1.629000e+03,1.741000e+03,7.300000e+02,3.360000e+02
50%,2020-03-15 00:00:00,1.406300e+04,0.000000e+00,1.760000e+02,2.230000e+02,3.710000e+02,2.570000e+02,5.880000e+02,1.547000e+03,1.856000e+03,1.971000e+03,2.092000e+03,1.011000e+03,4.810000e+02
75%,2021-06-16 00:00:00,2.113300e+04,0.000000e+00,2.450000e+02,3.220000e+02,5.030000e+02,3.990000e+02,7.840000e+02,1.924000e+03,2.327000e+03,2.464000e+03,2.610000e+03,1.441000e+03,7.090000e+02
max,2022-11-02 00:00:00,2.821200e+04,2.020000e+03,3.660000e+02,2.008700e+04,1.753400e+04,1.752400e+04,1.794000e+04,1.982700e+04,2.143900e+04,2.181100e+04,2.469400e+04,1.855400e+04,1.758700e+04
std,NaN,8.145028e+03,6.675001e+02,8.521531e+01,2.202539e+02,2.602215e+02,3.086128e+02,3.482985e+02,6.457464e+02,8.024451e+02,8.532377e+02,8.597645e+02,6.092414e+02,4.196677e+02

In [6]:
basicanalysis.get_missing_counts()

time                0
id                  0
disturbance_year    0
doy                 0
b2                  0
b3                  0
b4                  0
b5                  0
b6                  0
b7                  0
b8                  0
b8a                 0
b11                 0
b12                 0
species             0
dtype: int64

## Feature Engineering

In [ ]:
Basic Feature Engineering

### Datetime Feature Engineering

In [ ]:
df = dataloader.date_feature_extraction(df_base)

### Advanced Feature Engineering

In [ ]:
calcindices = CalculateIndices()
df = calcindices.add_all_indices(df)

In [ ]:
df

## Exploratory Data Analysis

### Visualization Base-Dataframe

In [ ]:
hist = HistogramDataVisualization(df)
hist.plot_unique_ids("year")

In [ ]:
hist.plot_unique_ids("month_num")

In [ ]:
hist.plot_unique_ids("species")

In [ ]:
hist.plot_median_id_distribution()

## Disturbed

In [ ]:
# Boolesche Spalte erstellen
df["disturbed"] = df["disturbance_year"].apply(lambda x: False if x == 0 else True)

In [ ]:
unique_values = df["disturbance_year"].unique()
print(f"Nunique: {len(unique_values)}")
print(f"Unique Values:\n{unique_values}")

In [ ]:
dist_disturbance_df = df["disturbed"].value_counts().reset_index()
dist_disturbance_df.columns = ["disturbed", "count"]


plt.figure(figsize=(8, 5))
plt.bar(dist_disturbance_df["disturbed"].astype(str), dist_disturbance_df["count"])
plt.xlabel("Disturbed")
plt.ylabel("Count")
plt.title("Comparison of distrubed values")
plt.grid()
plt.show()

In [ ]:
filtered = df[df["disturbance_year"] != 0]
crosstab = pd.crosstab(filtered["disturbance_year"], filtered["species"])
crosstab.plot(kind="bar", stacked=True, figsize=(10, 6))

plt.xlabel("Disturbance Year")
plt.ylabel("Anzahl")
plt.title("Distribution of Disturbance Year by Species")
plt.legend(title="Species")
plt.tight_layout()
plt.grid()
plt.show()

In [ ]:
filtered.sort_values(by="disturbance_year", ascending=True)

In [ ]:
filtered = df[df["disturbance_year"] != 0]
id_df = filtered[filtered["id"]==11759]
id_df

In [ ]:
band_columns = [col for col in id_df.columns if col.startswith("b")]
fig = px.line(
    id_df,
    x="time",
    y= band_columns,
    markers="o")
fig.show()

## Correlation Analysis

In [ ]:
correlation = CorrelationAnalysis(df)
corr_matrix = correlation.get_correlation_matrix()
corr_matrix

In [ ]:
top_corr_df = correlation.get_top_correlations(top_n=15)
plot_top_correlations(top_corr_df)

In [ ]:
correlation.plot_correlation_matrix()

In [ ]:
correlation.plot_correlation_distribution(sample_size= 100)

## Explore Spectral

In [ ]:
spectral = SpectralBandPlotter(df)
spectral.plot_all_years(sample_size=500, showfliers=True)

In [ ]:
spectral.plot_per_year(sample_size=500)

In [ ]:
spectral.plot_species_season_distribution()

## Time Series Analysis

In [ ]:
data = df["date_diff"].dropna()
median_val = data.median()

plt.figure(figsize=(10, 5))
plt.hist(data, bins=20, color="black")

plt.axvline(
    median_val,
    color="red",
    linestyle="--",
    linewidth=2,
    label=f"Median: {median_val:.1f}",
)

plt.title("Distribution of Time Gaps (in Days)")
plt.xlabel("Days Between Observations")
plt.ylabel("Count")
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
ts_agg = TimeSeriesAggregate(id_df)
df_2w = ts_agg.aggregate_timeseries(freq="2W", method="median")
dataloader = DataLoader()
df_2w_features = dataloader.date_feature_extraction(df_2w)

In [ ]:
spectral = SpectralBandPlotter(df_2w_features)
spectral.plot_spectral_development_over_years(addition="aggregated")